{% extends "layout.html" %}

{% block title %}
    Input
{% endblock %}

{% block main %}

<form action="/input" method="post">

    <select name="journal">
        <option value="" selected disabled>Journal</option>
        {% for journal in journals %}
            <option value="{{ journal }}">{{ journal }}</option>
        {% endfor %}
    </select>

    <input type="date" name="transaction_date">

    <select name="debit_account">
        <option value="" selected disabled>Debit Account</option>
        {% for account in accounts %}
            <option value="{{ account }}">{{ account }}</option>
        {% endfor %}
    </select>

    <select name="credit_account">
        <option value="" selected disabled>Credit Account</option>
        {% for account in accounts %}
            <option value="{{ account }}">{{ account }}</option>
        {% endfor %}
    </select>
    <input type="number" name="debit_value" placeholder="Debit">
    <input type="number" name="credit_value" placeholder="Credit">

    <button type="submit">Input</button>
</form>


{% endblock %}
